<h1>Menu de los administradores</h1>
<a href="http://localhost:5000/login/out">cerrar sesion</a>
<ul>
    <li>
        <a href="#">Pedidos</a>
    </li>
    <li>
        <a href="http://localhost:5000/admins-menu/products">Productos</a>
    </li>
    <li>
        <a href="http://localhost:5000/admins-menu/suppliers">Proveedores</a>
    </li>
    <li>
        <a href="http://localhost:5000/admins-menu/delivers">Repartidores</a>
    </li>
    <li>
        <a href="http://localhost:5000/admins-menu/config">Configuraciones extras</a>
    </li>
    
</ul>

<h2>
    <a href="http://localhost:5000/">	&#60;&#60; Menu de Desarrollo</a>
</h2>