<!DOCTYPE html>
<html>

<head>
  <script src="/javascripts/config-form.js"></script>

</head>
<h1>Formulario de configuracion</h1>
<a href="http://localhost:5000/login/out">cerrar sesion</a>
<h2>Tags</h2>
<ul id="tags">

</ul>
<hr/>

<h2>Banner</h2>
<div id="show-banner">

</div>
<hr/>


<h2>Editar Tags</h2>
<h3>Agregar categotia</h3>
<span>Nueva categoria </span><input type="text" id="add-tag-cat-input"/>
<button type="button" id="add-tag-cat-btn">Agregar</button>
<br/>


<h3>Eliminar categotia</h3>
<span>Eliminar categoria </span><input type="text" id="delete-tag-cat-input"/>
<button type="button" id="delete-tag-cat-btn">Eliminar</button>
<hr/>
<a href="http://localhost:5000/admins/config" target="_blank">Ver configuracion actual</a>
<h2>
  <a href="http://localhost:5000/admins-menu"> &#60;&#60; Menu de los Administradores</a>
</h2>

</html>